<!DOCTYPE html> 
<html>
<head>
  <title>##blog_title##</title>
  <link charset='utf-8' href='/stylesheets/blog.css' rel='stylesheet' type='text/css' /> 
</head>
<body>
 <div class='content'> 
      <div class='post box seventy'>
        <h1 id='blog-title'>
          ##blog_title##
        </h1>
        ##posts##
      </div>
 </div>
</body>
</html>
