<!DOCTYPE html> 
<html>
<head>
  <title>##title##</title>
  <link charset='utf-8' href='/stylesheets/blog.css' rel='stylesheet' type='text/css' /> 
</head>
<body>
 <div class='content box seventy'>
      <h1 id='blog-title'><a href="/">##blog_title##</a></h1>
      <div class='post'>
        <h2 class='title'>
          ##title##
        </h2>
      <script>
        var idcomments_acct = '##intensedebate_id##';
        var idcomments_post_id;
        var idcomments_post_url;
      </script>
      <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>        
        <article class='post'>
          <div>##date##</div>
          ##body##
        </article>
        <script>
          var idcomments_acct = 'c3de1a28e637e490713e2fd4bb1208c9';
          var idcomments_post_id;
          var idcomments_post_url;
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
        <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>        
      </div>
 </div>
</body>
</html>
