<!DOCTYPE html> 
<html>
<head>
  <title>##title##</title>
  <link charset='utf-8' href='/stylesheets/blog.css' rel='stylesheet' type='text/css' /> 
</head>
<body>
 <div class='content box seventy'>
      <h1 id='blog-title'><a href="/">##blog_title##</a></h1>
      <div class='post'>
        <h2 class='title'>
          ##title##
        </h2>
        <article class='post'>
          <div>##date##</div>
          ##body##
        </article>
      </div>
 </div>
</body>
</html>
