<article class='post'>
	  <h2 class='title'><a href="##uri##">##title##</a></h2>
    <script>
            var idcomments_acct = '##intensedebate_id##';
            var idcomments_post_id = '##base_uri####uri##';
            var idcomments_post_url = '##base_uri####uri##';
          </script>
          <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js">
    </script> 	  
	  <div>##date##</div> 
          ##body##
</article>
